/* General Body Style */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f99e;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Style */
header {
    background-color: #505050;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.title span {
    font-size: 30px;
    font-weight: bold;
}

/* Section Styles */
section {
    padding: 2rem;
    margin: 1rem 0;
}

.description {
    background-color: rgba(255, 255, 255, 0.62);
    background-size: cover; /* This will ensure the image covers the entire section */
    background-repeat: no-repeat;
    background-position: center center;
    border: none; /* This will remove any border */

}

.pics img {
    width: 100%; /* Adjust if other sections have a different width */
    height: 300px;
    object-fit: cover; /* This will ensure the image is not distorted */
}


.desc-title span {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
    color: rgba(28, 27, 26, 0.635);
}

.desc-content {
    /* background-color: #eaeaea; */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: rgba(33, 30, 30, 0.856);
    font-size: 20px;

}



/* Description Section */
.topics-title span,
.topic-1-title span {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
    color: rgba(49, 49, 48, 0.635);

}

.topics-content,
.topic-1-content {
    /* background-color: #eaeaea; */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.detail {
    margin-bottom: 1rem;
}

/* Link Style */
a {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #505050;
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    body {
        padding: 0 1rem;
    }

    header,
    section {
        padding: 1rem;
    }
}

.main-content {
    width: calc(100% - 300px); /* Adjust the width as necessary */
    float: right; /* Updated to float right */
}

/* Sidebar styling */
.sidebar {
    width: 300px; /* Adjust the width as necessary */
    float: left; /* Updated to float left */
    padding: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1); /* Shadow direction adjusted */
    height: 25vh; /* Full height of the viewport */
    overflow-y: auto; /* Enables scrolling if content is longer than the screen */
    background-color: #f4f4f4; /* Background color of the sidebar */
}

